# Node modules
node_modules/
**/node_modules/

# Build
build/
dist/
**/build/
**/dist/

# Env files
.env
.env.*
**/.env

# Logs
*.log
logs/
**/*.log
**/logs/

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Others
coverage/
.next/
.cache/
