# Node modules
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
**/build/
**/dist/

# Environment variables
**/.env
**/.env.*  # for .env.development, .env.local, etc.

# Logs
logs
*.log
**/logs
**/*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Misc
*.local
.env.local
*.cache
.next/

